@model Fifa19.Models.Calendar
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Calendar</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4>Inserte Fecha de Inicio del Torneo</h4>
    <div class="form-group">
        @Html.HiddenFor(model => model.anho)
        @Html.HiddenFor(model => model.idCompeticion)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.fchInicio, "Fecha de Inicio", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fchInicio, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fchInicio, "Por Favor Inserte Una Fecha Valida", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" value="Calendar" class="btn btn-default"> Generar Calendario </button>
        </div>
    </div>
</div>
}
@Html.ActionLink("Torneos", "Index")
