@model IEnumerable<Fifa19.Models.Torneo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Torneos</h2>

<p>
    @Html.ActionLink("Crear Nuevo Torneo", "Create")
</p>
<div style="height: 550px; overflow: auto;">
    <table class="table">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Año
            </th>
            <th>
                Usuario de Creacion
            </th>
            <th>
                Usuario de Modificacion
            </th>
            <th>
                Fecha de Creacion
            </th>
            <th>
                Fecha de Modificacion
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Competicion.nbrCompeticion)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.usuarioCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.anho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuarioModificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fchCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fchModificacion)
            </td>

            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.idCompeticion, id2 = item.anho }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.idCompeticion, id2 = item.anho }) |
                @Html.ActionLink("Add Tournament Date", "AddFecha", new { id = item.idCompeticion, id2 = item.anho }) |
                @Html.ActionLink("Add Team", "AddTeam", new { id = item.idCompeticion, id2 = item.anho }) |
                @Html.ActionLink("Positions Table", "Positions", new { id = item.idCompeticion, id2 = item.anho }) |
                @Html.ActionLink("Referee Performance", "RefereePerformance", new { id = item.idCompeticion, id2 = item.anho }) |
                @Html.ActionLink("Player Performance", "PlayerPerformance", new { id = item.idCompeticion, id2 = item.anho }) |
                @Html.ActionLink("Generate Game Calendar", "Calendar", new { id = item.idCompeticion, id2 = item.anho }) |
                @Html.ActionLink("Simulate Results", "Simulation", new { id = item.idCompeticion, id2 = item.anho }) |
            </td>
        </tr>
        }

    </table>
</div>