@model IEnumerable<Fifa19.Models.posConColores>

@{
    ViewBag.Title = "Positions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Positions</h2>

<div style="height: 550px; overflow: auto;">
    <table class="table">
        <tr>
            <th>
                Posicion
            </th>
            <th>
                Equipo
            </th>
            <th>
                Partidos Jugados
            </th>
            <th>
                Partidos Ganados
            </th>
            <th>
                Partidos Empatados
            </th>
            <th>
                Partidos Perdidos
            </th>
            <th>
                Goles a favor
            </th>
            <th>
                Goles en contra
            </th>
            <th>
                Puntos
            </th>
        </tr>
        @foreach (var item in Model)
        {
            string foreground;
            string background;
            if (item.colorBG == "red")
            {
                background = "CC0000";
                foreground = "FFFFFF";
            }
            else if (item.colorBG == "green")
            {
                background = "33CC66";
                foreground = "FFFFFF";
            }
            else {
                background = "FFFFFF";
                foreground = "000000";
            }

            <tr style="background-color:#@background; color: #@foreground;">
                <td>
                    @Html.DisplayFor(modelItem => item.posicion)
                </td>
                <td >
                        @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.partidosJugados)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.partidosGanados)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.partidosEmpatados)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.partidosPedridos)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.golesAFavor)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.golesEnContra)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.puntos)
                </td>
            </tr>
        }

    </table>
</div>
    @Html.ActionLink("Back to List", "Index")


