@model Fifa19.Models.Arbitro

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>"     "</h4>
<h4>"     "</h4>
<h2>Details</h2>

<div>
    <h4>Arbitro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarioCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarioCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarioModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarioModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fchCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fchCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fchModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fchModificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idArbitro }) |
    @Html.ActionLink("Back to List", "Index")
</p>
