@model IEnumerable<Fifa19.Models.FechaTorneo>

@{
    ViewBag.Title = "Index";
}
<h4>"     "</h4>
<h2>Fecha de Torneo</h2>
<h3>Fecha de Torneo</h3>
<p>
    @Html.ActionLink("Agregar Fecha ", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Torneo.idCompeticion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuarioCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuarioModificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fchCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fchModificacion)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Torneo.idCompeticion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuarioCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuarioModificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fchCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fchModificacion)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new {id=item.idCompeticion}) |
            @Html.ActionLink("Details", "Details", new { id=item.idCompeticion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idCompeticion })
        </td>
    </tr>
}

</table>
