@model Fifa19.Models.Competicion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Details</h2>

<div>
    <h4>Competicion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nbrCompeticion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nbrCompeticion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarioCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarioCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarioModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarioModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fchCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fchCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fchModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fchModificacion)
        </dd>

        <dt>
            @Html.DisplayName("Federacion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Federacion.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCompeticion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
