<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fifa 19</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/jqueryui")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class=" nav nav-pills">
                    <li role="presentation"><a href="/Home/Index">Home</a></li>
                    <li>@Html.ActionLink("Control de Funcionario", "Index", "Funcionarios")</li>
                    <li>@Html.ActionLink("Control de Jugador", "Index", "Jugadors")</li>
                    <li>@Html.ActionLink("Control de Entrenador", "Index", "Entrenadors")</li>
                    <li>@Html.ActionLink("Control de Arbitros", "Index", "Arbitroes")</li>
                    <li>@Html.ActionLink("Control de Federacion", "Index", "Federacions")</li>
                    <li>@Html.ActionLink("Control de Torneo", "Index", "Torneos")</li>
                    <li>@Html.ActionLink("Control de Competicion", "Index", "Competicions")</li>
                    <li>@Html.ActionLink("Control de Partido", "Index", "Partidoes")</li>
                    <li>@Html.ActionLink("Control de Club", "Index", "Clubs")</li>
                    <li>@Html.ActionLink("Control de Socio", "Index", "Socios")</li>
                    <li>@Html.ActionLink("Control de Especialidades", "Index", "Especialidads")</li>
                    <li>@Html.ActionLink("Control de Fechas de Torneo", "Index", "FechaTorneos")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
