@model IEnumerable<Fifa19.Models.sp_obtenerListaEquiposJugador_Result>

@{
    ViewBag.Title = "HistorialEquipos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Historial Equipos</h2>

<div style="height: 550px; overflow: auto;">
    <table class="table">
        <tr>
            <th>
                Id Equipo
            </th>
            <th>
                Fecha Inicio
            </th>
            <th>
                Fecha Fin
            </th>
            <th>
                Id Competencia
            </th>
            <th>
                Año
            </th>
            <th>
                Tipo de Competencia
            </th>
            <th>
                Sinopsis
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idEquipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fchInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fchFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idCompetencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.anho)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipoCompetencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sinopsis)
                </td>
            </tr>
        }

    </table>
</div>
@Html.ActionLink("Back to List", "Index")
