@model PagedList.IPagedList<Fifa19.Models.Jugador>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Jugadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Jugadors", FormMethod.Get))
{
    <p>
        Busqueda: @Html.TextBox("search", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<div style="height: 550px; overflow: auto;">
    <table class="table">
        <tr>
            <th>
                Peso
            </th>
            <th>
                Altura
            </th>
            <th>
                Nro Camiseta
            </th>
            <th>
                Usuario Creacion
            </th>
            <th>
                Usuario Modificacion
            </th>
            <th>
                Fecha Creacion
            </th>
            <th>
                Fecha Modificacion
            </th>
            <th>
                @Html.ActionLink("Nombre Funcionario", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Peso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Altura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nroCamiseta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.usuarioCreacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.usuarioModificacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fchCreacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fchModificacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Funcionario.nombre)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.codigoFuncionario }) |
                    @Html.ActionLink("Details", "Details", new { id = item.codigoFuncionario }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.codigoFuncionario }) |
                    @Html.ActionLink("Club History", "HistorialEquipos", new { id = item.codigoFuncionario })
                </td>
            </tr>
        }
    </table>
</div>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
