@model IEnumerable<Fifa19.Models.Partido>

@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Match", "Create")
</p>

<form asp-controller="Partido" asp-action="Index">
    <p>
        Busqueda: <input type="text" name="search">
        <input type="submit" value="Filter" />
    </p>
</form>

<div style="height: 550px; overflow: auto;">
    <table class="table">
        <tr>
            <th>
                Fecha
            </th>
            <th>
                Competicion
            </th>
            <th>
                Año
            </th>
            <th>
                Fecha de Competicion
            </th>
            <th>
                Casa
            </th>
            <th>
                Visita
            </th>
            <th>
                Goles Casa
            </th>
            <th>
                Goles Visita
            </th>
            <th>
                Usuario de Creacion
            </th>
            <th>
                Usuario de Modificacion
            </th>
            <th>
                Fecha de Creacion
            </th>
            <th>
                Fecha de Modificacion
            </th>

            <th style="width: 100%">

            </th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaTorneo.Torneo.Competicion.nbrCompeticion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaTorneo.Torneo.anho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nroFecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club1.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.golesCasa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.golesVisita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuarioCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuarioModificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fchCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fchModificacion)
            </td>

            <td style="white-space:nowrap;">
                @Html.ActionLink("Edit", "Edit", new { id = item.idPartido }) |
                @Html.ActionLink("Details", "Details", new { id = item.idPartido }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idPartido }) |
                @Html.ActionLink("Add Local Player", "AgregarJugador", new { idEquipo = item.equipoCasa,idPartido = item.idPartido }) |
                @Html.ActionLink("Add Visit Player", "AgregarJugador", new { idEquipo = item.equipoVisita, idPartido = item.idPartido }) |
                @Html.ActionLink("Add Referee", "RegistrarArbitro", new { idPartido = item.idPartido }) |
                @Html.ActionLink("Add Local Goal", "RegistrarGol", new { idEquipo = item.equipoCasa, idPartido = item.idPartido }) |
                @Html.ActionLink("Add Visit Goal", "RegistrarGol", new { idEquipo = item.equipoVisita, idPartido = item.idPartido }) |
                @Html.ActionLink("Add Local Sub", "RegistrarCambio", new { idEquipo = item.equipoCasa, idPartido = item.idPartido }) |
                @Html.ActionLink("Add Visit Sub", "RegistrarCambio", new { idEquipo = item.equipoVisita, idPartido = item.idPartido }) |
                @Html.ActionLink("Match History", "MatchHistory", new { idEquipo1 = item.equipoCasa, idEquipo2 = item.equipoVisita, idFecha = item.fecha })

            </td>
        </tr>
        }
    </table>
</div>
