@model IEnumerable<Fifa19.Models.Partido>

@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Match", "Create")
</p>

<form asp-controller="Partido" asp-action="Index">
    <p>
        Busqueda: <input type="text" name="search">
        <input type="submit" value="Filter" />
    </p>
</form>

<div style="height: 550px; overflow: auto;">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.golesCasa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.golesVisita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuarioCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuarioModificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fchCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fchModificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.equipoVisita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.equipoCasa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaTorneo.nroFecha)
            </th>
            <th style ="width: 100%">
                
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.golesCasa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.golesVisita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.usuarioCreacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.usuarioModificacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fchCreacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fchModificacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Club.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Club1.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaTorneo.nroFecha)
                </td>
                <td style="white-space:nowrap;">
                    @Html.ActionLink("Edit", "Edit", new { id = item.idPartido }) |
                    @Html.ActionLink("Details", "Details", new { id = item.idPartido }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.idPartido }) |
                    @Html.ActionLink("Add Referee", "RegistrarArbitro", new { idPartido = item.idPartido }) |
                    @Html.ActionLink("Add Local Goal", "RegistrarGol", new { idEquipo = item.equipoCasa, idPartido = item.idPartido }) |
                    @Html.ActionLink("Add Visit Goal", "RegistrarGol", new { idEquipo = item.equipoVisita, idPartido = item.idPartido }) |
                    @Html.ActionLink("Add Local Sub", "RegistrarCambio", new { idEquipo = item.equipoCasa, idPartido = item.idPartido }) |
                    @Html.ActionLink("Add Visit Sub", "RegistrarCambio", new { idEquipo = item.equipoVisita, idPartido = item.idPartido }) |
                    @*@Html.ActionLink("Add line-up", "AgregaAlineacion", new { id = item.idPartido})*@

                </td>
            </tr>
        }
            <style type="text/css">
                td {
                    width: 100px;
                }

                th {
                    width: 100px;
                }
            </style>
    </table>
</div>
